.site-search {
  .main-content {
    margin: 0 auto;
    max-width: 1264px;
  }
}

.views-element-container {
  clear: both;
  padding-top: $spacing;

  @include breakpoint($breakpoint-l) {
    padding-top: $spacing * 2;
  }
}

.components--site-search-view {
  @include components-container-max-width;
  @include component-side-padding;
  margin-left: auto;
  margin-right: auto;
}

.views--site-search {
  .form-select {
    border: 0;
    background: var(--color-black-10);
    padding: $spacing-half;
  }

  .form-item-search-api-fulltext {
    display: inline-block;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-wrap: break-word;

    &.spaced {
      align-items:center;
    }
  }

  header {
    h4 {
      margin-top: 0;
    }
  }

  .form-item-items-per-page {
    display: flex;
    align-items: center;

    label {
      width: 250px;
    }
  }

  .views-row {
    width: 100%;
    margin-bottom: $spacing * 2;

    @include breakpoint($breakpoint-m) {
      width: 48%;
    }

    @include breakpoint($breakpoint-l) {
      width: 24%;
    }
  }

  .views-field {
    margin-bottom: $spacing-half;

    img {
      display: block;
      max-width: 100%;
      height: auto !important;
    }
  }

  .views-field-title {
    margin-top: $spacing;

    a {
      text-decoration: none;
    }
  }

  .views-field-nid {
    svg {
      width: 53px;
      height: 53px;
    }
  }

  .views-field-field-search-result-text {
    color: var(--color-black-80);
  }

  .views-field-field-keywords{
    ul {
      list-style: none;
      margin: $spacing 0 0 0;
      padding: 0;
    }

    li {
      background: $color-black;
      border-radius: $spacing;
      display: inline-block;
      font-size: remify(14px);
      line-height: 2.2;
      margin-top: 0;
      margin-bottom: $spacing-half;
      margin-right: $spacing-half;
      padding: 0 $spacing;

      a {
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  .form-actions {
    display: inline-block;

    .form-submit {
      background: var(--color-black-90);
      border: 0;
    }
  }
}

#views-exposed-form-site-search-page-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  word-wrap: break-word;

  .helfi-search__submit-button {
    margin-bottom: $spacing;
    margin-top: $spacing;

    @include breakpoint(529px) {
      margin-bottom: 0;
      margin-left: $spacing;
      margin-top: 28px;
    }
  }

  #edit-items-per-page {
    background-color: var(--hdbt-color-coat-of-arms--secondary);
    border: 0;
  }
}

.search-title__container {
  h1 {
    @include font('h2');
    margin-bottom: $spacing-and-half;
  }
}
