.content-card__title {
  font-weight: 400;
}

.content-card--article {
  &.content-card--design-listing {

    .content-card__link {
      &:hover {
        text-decoration: underline;
      }
    }

    .content-card__meta {
      @include font-size(14px, 14px);
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: $spacing-half 0 $spacing-half;

      > * {
        margin: 0 0 $spacing-half;
        &:not(:last-of-type) {
          border-right: 1px solid $color-black-50;
          margin-right: $spacing-half;
          padding-right: $spacing-half;
        }
      }
    }

    .content-card__lead {
      margin-bottom: $spacing-and-half;
    }

    .content-card__keywords {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: $spacing-half;

      a {
        @include font-size(13px, 24px);
        background-color: $color-black;
        border-radius: $spacing-and-half;
        color: $color-white;
        font-weight: $font-weight-regular;
        margin-bottom: $spacing-half;
        padding: $spacing-half $spacing;
        text-decoration: none;

        &:hover {
          background-color: $color-black-80;
        }

        &:not(:last-of-type) {
          margin-right: $spacing-half;
        }
      }
    }

    &:hover {
      .content-card__arrow {
        padding-left: $spacing;
      }
    }
  }
}
