.embed {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-triple;
  }

  .embed {
    &__iframe,
    &__code {
      position: relative;
      max-width: $content-width-max;
    }

    &__iframe {
      padding-bottom: 75%;

      iframe {
        position  : absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }

}
