.embed {
  margin-top: $spacing-double;

  @include breakpoint($breakpoint-l) {
    margin-top: $spacing-triple;
  }

  .embed {
    &__iframe,
    &__code {
      position: relative;
      max-width: $content-width-max;
    }
  }

}
