$item_spacing: $spacing;

.quick-links {
  width: calc(50% - (#{$item_spacing} / 2));
  @include breakpoint($breakpoint-m) {
    margin: 0;
    width: 100%;
  }
}

.quick-links__container {
  padding: 0;
}

.quick-links__content {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing;
  margin-top: $spacing;

  @include breakpoint($breakpoint-s) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: $spacing;
  }
}

.quick-links__title {
  @include font-size(24px);
  font-weight: 700;
  margin-top: 0;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    @include font-size(24px);
  }
}


.quick-links__item {
  align-items: center;
  display: flex;
  margin-bottom: $spacing;
  padding: $spacing;
  width: 100%;

  @include breakpoint($breakpoint-l) {
    padding: $spacing-and-half;
  }

  > * {
    height: 100%;
  }

  .quick-links__item__link {
    box-sizing: border-box;
    display: flex;
    // height: 100%;
    overflow: hidden;
    position: relative;
    text-decoration: none;

    @include breakpoint($breakpoint-m) {
      width: 100%;
    }

    &:hover {
      .quick-links__item__title {
        text-decoration: underline;
      }
    }
  }

  .quick-links__item__icon {
    align-items: center;
    color: $color-white;
    display: flex;
    margin-right: $spacing;
  }

  .quick-links__item__title {
    @include font-size(16px);
    color: $color-white;
    font-weight: 500;
  }

}

// Quick-links__item colors
.quick-links__item--bg-color {
  &--bus {
    background-color: $color-bus-dark;
  }
  &--tram {
    background-color: $color-tram;
  }
}
