.hero__search-box {
  @include font('special.quote');
  border-bottom: 2px solid var(--hdbt-color-palette-text--primary);
  margin: $spacing-double 0;
  max-width: 550px;
  padding-bottom: 10px;

  form {
    display: flex;
    justify-content: space-between;
  }

  input {
    border: 0;
    color: var(--hdbt-color-palette-text--primary);
    outline: none;

    &::placeholder {
      color: var(--hdbt-color-palette-text--primary);
    }
  }

    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--hdbt-color-palette-text--primary);
    }

    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: var(--hdbt-color-palette-text--primary);
    }
  }

.hero__search-field {
  background: transparent;
  flex-grow: 1;
}

.hero__search-submit {
  @include pseudo-icon('search', $spacing-double, var(--hdbt-color-palette-text--primary), flex);
  cursor: pointer;
  overflow: hidden;
  text-indent: -9999px;
  width: 50px;
}
