.quick-links {
  margin-bottom: $spacing-double;
  width: 100%;

  @include breakpoint($breakpoint-s) {
    margin-bottom: $spacing-and-half;
    width: calc(50% - (#{$spacing}  / 2));
  }

  @include breakpoint($breakpoint-m) {
    width: 100%;
  }

  @include breakpoint($breakpoint-l) {
    margin-bottom: $spacing-triple;
  }
}

.quick-links__read-more {
  .quick-links__title {
    @include breakpoint($breakpoint-l) {
      display: none;
    }
  }

  .quick-links__title__link {
    @include breakpoint($breakpoint-l) {
      display: flex;
    }
  }
}

.quick-links__container {
  padding: 0;
}

.quick-links__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  @include breakpoint($breakpoint-s) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.quick-links__title {
  @include font('h3');
  display: flex;
  font-weight: 700;
  margin-bottom: $spacing;
  margin-top: 0;
  width: 100%;
}

.quick-links__title__link {
  align-items: center;
  display: none;
  justify-content: space-between;
  text-decoration: none;

  @include breakpoint($breakpoint-l) {
    display: flex;
  }

  &:hover {
    text-decoration: underline;
  }
}

.quick-links__link {
  display: flex;
  font-weight: 700;
  margin-top: $spacing-double;
  text-decoration: none;

  @include breakpoint($breakpoint-m) {
    margin-top: $spacing-and-half;
  }

  @include breakpoint($breakpoint-l) {
    display: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

.quick-links__link__arrow {
  margin-left: $spacing;
}

.quick-links__item {
  align-items: center;
  display: flex;
  padding: $spacing;
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: $spacing;
  }

  @include breakpoint($breakpoint-l) {
    padding: $spacing-and-half;
  }

  > * {
    height: 100%;
  }

  .quick-links__item__link {
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
    position: relative;
    text-decoration: none;

    @include breakpoint($breakpoint-m) {
      width: 100%;
    }

    &:hover {
      .quick-links__item__title {
        text-decoration: underline;
      }
    }
  }

  .quick-links__item__icon {
    align-items: center;
    color: $color-white;
    display: flex;
    margin-right: $spacing;
  }

  .quick-links__item__title {
    @include font('button');
    color: $color-white;
    font-weight: 500;
    word-break: break-word;
  }
}

// Quick-links__item colors
.quick-links__item--bg-color {
  &--bus {
    background-color: $color-bus-dark;
  }

  &--tram {
    background-color: $color-tram;
  }
}
