.header-search {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--color-white);
  padding: 26px 32px;
  margin-top: 15px;
  border-top: 1px solid var(--color-black-90);
  border-bottom: 1px solid var(--color-black-90);

  .helfi-search__form {
    max-width: 370px;
    margin: 0 auto;
  }
}
