.keywords__container {
  margin-bottom: $spacing-triple;

  .hds-tag {
    background-color: $color-black;
    border-color: $color-black;

    &:hover {
      background-color: $color-white;
      border-color: $color-black;

      a {
        color: $color-black;
      }
    }
  }

  .hds-tag a {
    color: $color-white;
  }
}

.views-field-field-keywords {
  ul {
    @include tag-container();
  }

  li {
    @include tag-parent();
  }

  .hds-tag {
    background-color: $color-black; 
    border-color: $color-black;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      border-color: $color-black;
      color: $color-black;
    }
  }
}
