.keywords__container {
  margin-bottom: $spacing-triple;

  .hds-tag {
    background-color: $color-black;

    &:hover {
      border-color: $color-black;
    }
  }

  .hds-tag a {
    color: $color-white;
    text-decoration: none
  }
}

.views-field-field-keywords {
  ul {
    @include tag-container();
  }

  li {
    @include tag-parent();
  }

  .hds-tag {
    background-color: $color-black; 
    color: $color-white;
    text-decoration: none;

    &:hover {
      border-color: $color-black;
    }
  }
}
