// Custom styles for supporting third menu level on desktop navigation.
.header-bottom .menu--level-2 {
  display: inline;
}

.header-bottom .menu--level-2 .menu__link {
  padding: $spacing-half $spacing-and-half;
  margin-left: $spacing-and-half;

  &:focus {
    margin-left: $spacing-and-half;
  }
}

//  ul ul {
//    display: block;
//    @include breakpoint($breakpoint-l) {
//      margin-left: $spacing;
//    }
//  }
//
//  .menu--level-2 {
//    .menu__link {
//      padding-top: 0;
//    }
//  }
//}
//
//#block-hdbt-subtheme-main-navigation {
//  .site-name__container {
//    display: none;
//  }
//}
