.pager {
  width: 100%;

  .pager__items {
    display: flex;
    justify-content: center;
    list-style: none;
  }

  .pager__item {
    margin: 0 $spacing;

    &.is-active {
      margin: 0 $spacing-half;

      a {
        background-color: $color-black;
        border-radius: 50%;
        color: $color-white;
        padding: $spacing-half $spacing;
      }
    }
  }

  a {
    @include font('button');
    text-decoration: none;
  }
}
