.page-type--article {
  .node--type-article {
    .article-header__container {
      .article__bottom-wrapper {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;
        max-width: none;
      }

      > div {
        padding-left: 0;
      }
    }

    .article__author {
      @include font-size(16px, 24px);
      color: $color-black;
      font-weight: $font-weight-regular;
      margin-bottom: $spacing-quarter;
    }

    .social-media-sharing {
      margin-bottom: $spacing-half;
    }

    .article__attachment {
      &__link {
        background-color: $color-black;
        color: $color-white;

        &:hover {
          background-color: $color-black-80;
        }

        &:focus {
          color: $color-white;

          &::after {
            border-color: $color-black-80;
          }
        }
      }
    }
  }
}
