<div class="header-search dropdown dropdown--search">
  <div class="header-search__form-wrapper">
    <form class="helfi-search__form" action="{{ search_page_path }}" method="GET" role="search">
      <div class="form-item hds-text-input">
        {% if label %}
          <label class="hds-text-input__label" for="search-form-kaupunkitieto">{{ label }}</label>
        {% endif %}
        <div class="hds-text-input__input-wrapper">
          <input type="search" id="search-form-kaupunkitieto" name="q" value="" size="30" maxlength="128" class="form-text hds-text-input__input" placeholder="{{ 'What are you looking for?'|t }}">
        </div>
      </div>
      <button class="hds-button hds-button--primary helfi-search__submit-button" type="submit" value="Submit">
        <span class="hds-button__label">{{ 'Search'|t({}, {'context': 'Helfi search button'}) }}</span>
      </button>
    </form>
  </div>
</div>
