<div class="header-search dropdown dropdown--search">
  <div class="header-search__form-wrapper">
    <form role="search" action={{ search_page_path }} method="GET">
      <div class="hds-text-input hds-text-input--search ">
        <label for="edit-search_api_fulltext" class="hds-text-input__label hiddenFromScreen"></label>
        <div class="hds-text-input__input-wrapper">
          <input placeholder="{{ 'What are you looking for?'|t }}" data-drupal-selector="edit-search_api_fulltext"  class="form-text hds-text-input__input ui-autocomplete-input" type="text" id="edit-search_api_fulltext" name="search_api_fulltext" value="" size="30" maxlength="128" autocomplete="off">
          <button type="submit" class="hds-button hds-button--supplementary hds-button--theme-black" aria-label="{{ 'Search'|t }}">
            <span aria-hidden="true" class="hds-icon hds-icon--search hds-icon--size-m"></span>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
